<!doctype html>
<title>PiThon Alarm</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap-responsive.min.css') }}">
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src={{ url_for('static', filename="js/bootstrap.min.js") }}></script>
<div class=page>
  <h1>PiThon Alarm</h1>
  <div class=metanav>
   </div>
  {% for message in get_flashed_messages() %}
    <div class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert">×</button>
      {{ message }}
    </div>
  {% endfor %}
  {% block body %}{% endblock %}
</div>